
* {
    /*margin: 0;*/
    /*padding: 0;*/
    box-sizing: border-box;
}

body {
    /*background-image: url('../sfondo.jpg');*/
    /*background-size: cover;*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    background-color: lightgrey;
}


.div-test-class {
    background-color: #99e6e8;
    /*background-image: url('../sfondo.jpg');*/
    /*width: 50%;*/
    /*height: 100px;*/
    /*max-height: 100px;*/
    /*min-height: 50px;*/
    min-width: 200px;
    max-width: 300px;
    /*display: inline-block;*/
    border: 1px solid dimgrey;
    /*overflow-y: scroll; !* overflow (x/y) overflow-x e overflow-y *!*/
    border-radius: 2px;
    box-shadow: 1px 2px 3px #00000070;
}

/*button:hover {*/
/*    box-shadow: 1px 2px 3px #00000070;*/
/*}*/

button {
    background: linear-gradient(34deg, #99e6e8 0%, darkblue 100%);
}

h1 {
    background: linear-gradient(34deg, #99e6e8 0%, darkblue 100%);
}

.div-test-class-2 {
    /*background-color: lightgoldenrodyellow;*/
    /*background: linear-gradient(34deg, #99e6e8 40%, darkblue 100%);*/
    /*background: radial-gradient(circle at 40%, lightblue 0%, darkblue 100%);*/
    /*background: conic-gradient(red, blue, green);*/
    background: conic-gradient(from 30deg, blue, green);
    /*width: 50%;*/
    /*display: inline-block;*/
}