

body {
    font-size: 15px;
    font-family: Tahoma, sans-serif;
}

a:hover {
    color: orange;
    /*font-size: 35px;*/
    cursor: crosshair;
}

a:link {
    color: #9A0000;
}

a:visited {
    color: #6b0fbc;
}

#mioinput:focus {
    outline: 1px solid #6b0fbc;
}

#mioinput:hover {
    outline: 1px dotted #dc5aac;
}

div:hover {
    background-color: darkslategrey;
    color: #50e80f;
    /*font-size: 25px;*/
}



#miatable tr:nth-child(odd) {
    background-color: lightgrey;
}

#miatable tr:nth-child(even) {
    background-color: slategrey;
}

#miatable tr:first-child {
    background-color: dimgrey;
}

#miatable tr:last-child {
    background-color: purple;
}