thead {
    background-color: #50e80f;
    font-size: 20px;
    color: white;
}

tbody {
    background-color: #e80f66;
}

table {
    border: grey solid 1px;
}

/* la mia stilizzazione di un div */
div {
    border: rgb(0 0 0 / 0.2) solid 2px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.25);
}

body {
    background-color: #ffffff;
}

/* selettore di un tag <p> a bassa specificita' */
p {
    color: darkcyan;
    font-style: italic;
    background-color: #bdb7b7;
    text-decoration: underline;
}

/* selettore di un tag <p> a media specificita' */
.miaclasse {
    background-color: #070e0d;
    font-size: 40px;
}

.classecolore {
    color: #50e80f;
}

/* selettore di un tag <p> ad alta specificita' */
#paragrafo_speciale {
    background-color: #aad9d1;
    text-decoration: none;
    color: white;
}



